<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
       <ion-item ng-repeat="data in repos">
        <div class="card">
          <div class="item item-divider">
            Repo: {{ data.name }}
          </div>
          <div class="item item-text-wrap">
            User: {{ data.owner.login}}<br>
            {{ data.html_url }}
          </div>
          <div class="item item-divider" ng-click="ale(data.name, data.owner.login)">
            Click here for more info
          </div>
        </div>




      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
